// Color Variables
$primary-color: #e85e5b;
$secondary-color: #445464;
$text-color: #494343;
$text-color-light: #797b7e;
$text-color-dark: #000000;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #fedcae;
$gray: #767b7e;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';